* {margin:0;padding:0;}

.sweetCarousel {
	position:relative;
	display:none;
	overflow:hidden;
	margin:0px auto;
}
.sweetCarousel figure {
	position:absolute;
	opacity:0;
	transition:1s opacity;
}
.sweetCarousel figcaption {
	position:absolute;
	font-family:sans-serif;
	font-size:.8em;
	top:.75em;
	right:.35em;
	padding:.25em;
	color:#fff;
	background:rgba(0,0,0, .25);
	border-radius:2px;
}
.sweetCarousel figcaption a {
	color:#fff;
}
.sweetCarousel figure.show {
	opacity:1;
	position:static;
	transition:1s opacity;
}

.sweetCarousel .next,
.sweetCarousel .prev {
	color:#fff;
	position:absolute;
	background:rgba(0,0,0, .6);
	top:50%;
	z-index:1;
	font-size:1em;
	margin-top:-.75em;
	opacity:.3;
	user-select:none;
}
.sweetCarousel .next:hover,
.sweetCarousel .prev:hover {
	cursor:pointer;
	opacity:1;
}
.sweetCarousel .next {
	right:0;
	padding:5px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.sweetCarousel .prev {
	left:0;
	padding:5px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.sweetCarousel p {
	margin:10px 20px;
	color:#fff;
}

.sweetCarousel a {
	color:#fff;
}